.global {
    width: 1200px;
    background: #fc0 url("image/horse..jpg");
    background-attachment: fixed;
    width: 1200px;
    height: 7900px;
    background-size: 1800px;
    margin: auto;
}
.cap {
    position: fixed;
    top: 0px;
    height: 153px;
    width: 1200px;
    overflow: auto;
    padding-left: 0;
    background: deepskyblue;
    display: flex;
    list-style-type: none;
    text-align: center;
    align-content: center;
    border-radius: 25px;
}
.logo {
    float: left;
    line-height: 200px;
    width: 120px;
    text-align: center;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
}
.title {
    line-height: 120px;
    text-align: center;
    padding-right: 70px;
    padding-left: 15px;
}

.title a {
    font-family: 'Pacifico';
    color: black;
    text-decoration: none;
    list-style-type: none;
    font-size: 55px;
}

.menu {
    float: left;
    line-height: 140px;
    font-size: 30px;
    width: 780px;
    text-align: right;
    overflow: hidden;
    padding-left: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}

li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.photo{
    padding-top: 120px;
    height: 150px;
    padding-left: 0px;
}
.information {
    /*padding-top: 100%;*/
    /*padding-bottom: 100%;*/
    height: 100px;
    width: 100%;
    background-color: slateblue;
    border-radius: 20px;
}
.information a, h1{
    font-family: Monospaced;
    color: gold;
    text-decoration: none;
    list-style-type: none;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}
.bottonUKF {
    color: slateblue;
    border: medium none;
    background: transparent;
}
.video1{
    padding-top: 170px;

}
.video1 iframe{
    padding-right: 15px;
    padding-left: 20px;
}
.video1 h3 {
    float: left;
    padding-right: 20px;
    padding-left: 30px;
    font-size: 23px;
}
.conferencia p {
float: left;
    padding-left: 35px;
    padding-bottom: 10px;
}
.conferencia h2{
    padding-top: 50px;
    font-size: 25px;
    font-family: "Comic Sans MS";
    padding-left: 40px;
    padding-right: 30px;
}
.conferencia2 p {
    top: 30px;
    float: left;
    padding-left: 35px;
}
.conferencia2 h2 {
    top: 30px;
    font-size: 25px;
    font-family: "Comic Sans MS";
    padding-left: 60px;
    padding-right: 30px;
}
.video2{
    padding-top: 170px;
    padding-bottom: 40px;
}
.video2 iframe{
    padding-right: 15px;
    padding-left: 20px;
}
.video2 h3 {
    float: left;
    margin-left: 40px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 23px;
}
.video3 iframe {
    padding-right: 40px;
    padding-left: 220px;
}
.video3 h3 {
    float: left;
    margin-left: 200px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 23px;
}
.conferencia3 p {
    top: 30px;
    float: left;
    padding-left: 100px;
    padding-bottom: 40px;
}
.conferencia3 h2 {
    top: 30px;
    font-size: 27px;
    font-family: "Comic Sans MS";
    padding-left: 280px;
    padding-right: 30px;}

.video4 iframe {
    padding-right: 40px;
    padding-left: 220px;
}
.video4 h3 {
    font-family: "Comic Sans MS";
    margin-left: 30px;
    padding-right: 30px;
    padding-left: 85px;
    font-size: 23px;}

.conferencia4 p {
    top: 30px;
    float: left;
    padding-left: 40px;
    padding-bottom: 40px;
}
.conferencia4 h3 {
    top: 30px;
    font-size: 27px;
    font-family: "Comic Sans MS";
    padding-left: 100px;
    padding-right: 30px;}

.video5 iframe {
    padding-right: 40px;
    padding-left: 220px;
}
.video5 h3  {
    font-family: "Comic Sans MS";
    margin-left: 30px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 23px;}
