@font-face {
    font-family: 'Lobster', cursive;
    src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v22/neILzCirqoswsqX9zo-mM5Ez.woff2) format('woff2');
    font-style: oblique;
}

@font-face {
    font-family: 'Pacifico', cursive;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v16/FwZY7-Qmy14u9lezJ-6K6MmTpA.woff2) format('woff2');    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Kozuka Gothic Pr6N R';
    src: local('Kosugi Regular'), local('Kosugi-Regular'), url(https://fonts.gstatic.com/s/kosugi/v6/pxiFyp4_v8FCjlI4MdLqfUsvcYfqJiw3zzHMw5Qu_B3d0SE.2.woff2) format('woff2');
    font-style: oblique;
}
.global {
    width: 1200px;
    background: #fc0 url("image/horse..jpg"); background-attachment: fixed; width: 1200px; ;
    background-size: 1800px;
    margin: auto;
}
/*.globalStail{*/
/*    background: wheat;*/
/*    width: auto;*/
/*    margin: auto;*/
/*}*/
.cap {
    position: fixed;
    top: 0px;
    height: 153px;
    width: 1200px;
    overflow: auto;
    padding-left: 0;
    background: deepskyblue;
    display: flex;
    list-style-type: none;
    text-align: center;
    align-content: center;
    border-radius: 17px;
}
.logo {
    float: left;
    line-height: 200px;
    width: 120px;
    text-align: center;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
}
.title {
    line-height: 120px;
    text-align: center;
    padding-right: 70px;
    padding-left: 15px;
}

.title a {
    font-family: 'Pacifico';
    color: black;
    text-decoration: none;
    list-style-type: none;
    font-size: 55px;
}
. a {
    text-decoration: none
}
a:hover{
    text-decoration: none
}

.menu {
    float: left;
    line-height: 140px;
    font-size: 30px;
    width: 780px;
    text-align: right;
    overflow: hidden;
    padding-left: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}

li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.photo{
    padding-top: 120px;
    height: 150px;
    padding-left: 0px;
}
.paragraph{
    font-size: 25px;
    font-family: "Leelawadee UI";
    padding-top: 135px;
    width: 1200px;
    color: black;
}
.paragraph h3{
    padding-left: 60px;
    padding-right: 50px;
}
.information {

    height: 100px;
    width: 100%;
    background-color: slateblue;
    border-radius: 20px;
}
.information a, h1{
    font-family: Monospaced;
    color: gold;
    text-decoration: none;
    list-style-type: none;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}
.bottonUKF {
    color: slateblue;
    border: medium none;
    background: transparent;
}
.box2 {
    display: flex;
    padding-left: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.dostup h1 {
    padding-top: 260px;
    color: black;
}
.dostup h2{
    font-family: "Leelawadee UI";
    padding-left: 50px;
    font-size: 28px;
}
.dostup p {
    float: left;
    padding-left: 50px;
}
.dostupPrava {
    color: black;
    font-size: 35px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-top: 40px;
    padding-right: 30px;
    font-style: oblique;
    height: 120px;
    width: 93.5%;
    background-color: red;
    border-radius: 100px;
    margin-top: 62px;
    padding-bottom: 30px;
    margin-bottom: 16px;
}
.submenu {
    /*font-style: italic;*/
    padding-top: 40px;
    padding-left: 15px;
    float: left;
    line-height: 80px;
    font-size: 16px;
    width: 1200px;
    text-align: right;
    overflow: hidden;
    /*padding-left: 5px;*/
}
.submenu a {
    text-decoration: none;
    outline: none;
    display: inline-block;
    color: white;
    padding: 17px 18px;
    margin: 10px 10px;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 300% auto;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    transition: .5s;
}
.submenu a:hover {background-position: right center;}
.submenu ul {
    list-style-type: none;
    font-family: Monospaced;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 1200px;
    height: 300px;
    padding-top: 130px;
}
.submenu li {
    float: left;
}

.submenu li a {
    font-style: revert;
    display: inline;
    color: black;
    text-align: center;
    /*padding: 16px;*/
    text-decoration: none;
    overflow: hidden;
}
.grafik {
    padding-left: 21px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.grafik h1 {
    color: black;
    font-size: 50px;
    font-family: Pacifico;
}.grafik p {
    float: left;
    padding-left: 20px;
 }
.music h1 {
    padding-top: 90px;
    color: black;
    font-size: 50px;
    font-family: Pacifico;
    padding-bottom: 40px;
}
.musicnot {
    padding-left: 120px;
}
.musicSulca {
    font-style: revert;
    height: 63px;
    width: 100%;
    background-color: darkgrey;
    font-family: Monospaced;
    color: gold;
    text-decoration: none;
    list-style-type: none;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    border-radius: 80px;

}
.table h1 {
    padding-top: 90px;
    color: black;
    font-size: 50px;
    font-family: Pacifico;
    padding-bottom: 40px;
}
.cocepciy h1 {
    padding-top: 90px;
    color: black;
    font-size: 50px;
    font-family: Pacifico;
    padding-bottom: 40px;
}
.videocon h1{
    padding-top: 90px;
    color: black;
    font-size: 50px;
    font-family: Pacifico;
    padding-bottom: 40px;
    text-decoration: none;
    list-style-type: none;
}
.videocon a {
    list-style-type: none;
    text-decoration: none;
}
.cocepciy a {
    list-style-type: none;
    text-decoration: none;
}
.music a{
    list-style-type: none;
    text-decoration: none;
}
.table a {
    list-style-type: none;
    text-decoration: none;
}
.media1 iframe {
    padding-right: 40px;
    padding-left: 220px;
    padding-bottom: 20px;
}
.media1 h2 {
    font-family: "Comic Sans MS";
    padding-top: 200px;
    margin-left: 30px;
    padding-right: 200px;
    padding-left: 200px;
    font-size: 23px;
    padding-bottom: 30px;
}
/*.media2 h3 {*/
/*    font-family: "Comic Sans MS";*/
/*    padding-top: 5px;*/
/*    margin-left: 140px;*/
/*    padding-right: 315px;*/
/*    padding-left: 50px;*/
/*    font-size: 23px;*/
/*    padding-bottom: 30px;}*/
.media2 iframe {
    padding-right: 40px;
    padding-left: 263px;
    padding-bottom: 20px;
}
/*. table {*/
/*margin: 1rem 0;*/
/*overflow-x: auto;*/
/*    display: table;*/
/*    border-collapse: separate;*/
/*    box-sizing: border-box;*/
/*    border-spacing: 2px;*/
/*    border-color: grey;}*/
/*.table body {*/
/*    font-family: -apple-system,sans-serif;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    -moz-osx-font-smoothing: grayscale;*/
/*    font-size: 16px;*/
/*    color: #2c3e50;*/
/*}*/
