
.bloc1 h2 {
    padding-left: 300px;
    padding-right: 200px;
    padding-top: 200px;
    font-size: 35px;
    -webkit-text-stroke: 1px midnightblue;
}
.bloc1 p {
    display: block;
    padding-left: 500px;
    padding-top: 30px;
}
.bloc2 h2 {
    padding-left: 330px;
    padding-right: 200px;
    padding-top: 50px;
    font-size: 35px;
    -webkit-text-stroke: 1px midnightblue;
}
.bloc2 p {
    padding-left: 500px;
    padding-right: 200px;
    padding-top: 30px;
    font-size: 30px;
}
.bloc3 h2 {
    padding-left: 315px;
    padding-right: 200px;
    padding-top: 50px;
    font-size: 35px;
    -webkit-text-stroke: 1px midnightblue;
}
.bloc3 p {
    padding-left: 500px;
    padding-right: 200px;
    padding-top: 30px;
    font-size: 30px;
}
.bloc4 h2 {
    padding-left: 400px;
    padding-right: 200px;
    padding-top: 50px;
    font-size: 35px;
    -webkit-text-stroke: 1px midnightblue;
}
.bloc4 p {
    padding-left: 500px;
    padding-right: 200px;
    padding-top: 30px;
    font-size: 30px;
}
.bloc5 h2 {
    padding-left: 365px;
    padding-right: 200px;
    padding-top: 50px;
    font-size: 35px;
    -webkit-text-stroke: 1px midnightblue;
}
.bloc5 p {
    padding-left: 500px;
    padding-right: 200px;
    padding-top: 30px;
    font-size: 30px;
}
.bloc6 h2 {
    padding-left: 400px;
    padding-right: 200px;
    padding-top: 50px;
    font-size: 35px;
    -webkit-text-stroke: 1px midnightblue;
}
.bloc6 p {
    padding-left: 500px;
    padding-right: 200px;
    padding-top: 30px;
    font-size: 30px;
}
.bloc7 h2 {
    padding-left: 380px;
    padding-right: 200px;
    padding-top: 50px;
    font-size: 35px;
    -webkit-text-stroke: 1px midnightblue;
}
.bloc7 p {
    padding-left: 500px;
    padding-right: 200px;
    padding-top: 30px;
    font-size: 30px;
}
.bloc8 h2 {
    padding-left: 400px;
    padding-right: 200px;
    padding-top: 50px;
    font-size: 35px;
    -webkit-text-stroke: 1px midnightblue;
}
.bloc8 p {
    padding-left: 500px;
    padding-right: 200px;
    padding-top: 30px;
    font-size: 30px;
}
.bloc9 h2 {
    padding-left: 400px;
    padding-right: 200px;
    padding-top: 50px;
    font-size: 35px;
    -webkit-text-stroke: 1px midnightblue;
}
.bloc9 p {
    padding-left: 500px;
    padding-right: 200px;
    padding-top: 30px;
    font-size: 30px;
}

@font-face {
    font-family: 'Lobster', cursive;
    src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v22/neILzCirqoswsqX9zo-mM5Ez.woff2) format('woff2');
    font-style: oblique;
}

@font-face {
    font-family: 'Pacifico', cursive;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v16/FwZY7-Qmy14u9lezJ-6K6MmTpA.woff2) format('woff2');    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Kozuka Gothic Pr6N R';
    src: local('Kosugi Regular'), local('Kosugi-Regular'), url(https://fonts.gstatic.com/s/kosugi/v6/pxiFyp4_v8FCjlI4MdLqfUsvcYfqJiw3zzHMw5Qu_B3d0SE.2.woff2) format('woff2');
    font-style: oblique;
}
